In [1]:
# import lib
import numpy as np
import pandas as pd

In [115]:
heart_dataset = pd.read_csv("heart.csv")
heart_dataset.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [116]:
heart_dataset.shape

(303, 14)

In [117]:
heart_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [118]:
heart_dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [119]:
heart_dataset["target"].value_counts()

1    165
0    138
Name: target, dtype: int64

In [120]:
X = heart_dataset.drop(columns="target")
y = heart_dataset["target"]

In [121]:
X.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [64]:
len(X.columns)

13

In [123]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, stratify=y, random_state=2)

In [124]:
X_train.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2
77,59,1,1,140,221,0,1,164,1,0.0,2,0,2
62,52,1,3,118,186,0,0,190,0,0.0,1,0,1
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3

In [125]:
X_train.shape

(272, 13)

In [126]:
y_train.shape

(272,)

In [127]:
# train model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

In [128]:
model.fit(X_train, y_train)

C:\Users\GIANG LINH\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [129]:
model.score(X_test, y_test)

0.7741935483870968

In [130]:
y_pred = model.predict(X_test)

In [131]:
y_pred

array([1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

In [132]:
from sklearn.metrics import classification_report 

clf = classification_report(y_test, y_pred)

In [133]:
clf

'              precision    recall  f1-score   support\n\n           0       0.73      0.79      0.76        14\n           1       0.81      0.76      0.79        17\n\n    accuracy                           0.77        31\n   macro avg       0.77      0.78      0.77        31\nweighted avg       0.78      0.77      0.77        31\n'

## Building A Predictive System

In [134]:
input_data = (40,0,1,100,300,0,1,150,1,0.5,2,0,1)
# to_array
input_data_as_array = np.asarray(input_data)

# reshape input_data
input_data_reshape = input_data_as_array.reshape(1, -1)

# predicction

predictions = model.predict(input_data_reshape)

C:\Users\GIANG LINH\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [135]:
predictions

array([1], dtype=int64)

## Saving model in file

In [136]:
import pickle 

filename = "heart_model_deploy.sav"
pickle.dump(model, open(filename, "wb"))

In [137]:
load_model_heart = pickle.load(open("heart_model_deploy.sav", "rb"))